
.form
{
	border-radius:0 0 20px 20px;
	background-color: rgba(51, 51, 51, 0.479);
	padding:10px;
	height:auto;
}
.bilgi
{
	width:10%;
	border-radius: 10px 10px 0 0;
	background-color: rgb(154, 218, 193);
}
.input
{

	border:none;
	background-color: white;
	border-radius: 0 10px 10px 10px;
	padding-left:10px;
}
.input-div
{
	width:25%;
	background-color: white;
	border-radius: 0 10px 10px 10px;
	padding-left:10px;
}
@media (max-width: 575.98px) 
{
	.bilgi{width:20%;}
}