.container-frame{
	background:rgb(144, 212, 204) !important;
	
	max-width: 100%;
}
.container-fluid
{
	background-color: #CCC;
	padding:0px !important;
}
.header{
	width:100%;
	background: rgb(77, 0, 0);
	color:#FFF;
	height:auto;
	text-align:center;
	font-size:36px;
	font-family:Helvetica;
	border-radius: 20px 20px 0 0;	
	
}
.header a{
	text-decoration: none !important;
	color:#FFF !important;
}
.baslik
{
	text-align: center;
	color:rgb(43, 2, 2);
	font-size: 36px;
	font-family: Helvetica;
}
.nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: #066;
	width: 100%;
	border-radius:0 0 20px 20px;
}
.nav-item{
	justify-content: space-evenly;
	justify-self: start;
}

.nav-link{
	
	border-radius:10px;
	text-align:center;
	color:#FFF !important;
	font-size:28px;
}

.nav-link:hover {
	background:#CCC !important;
	color:#000 !important;
}
.row
{
	
	justify-content:center !important;
	border-radius: 10px;
}
.col
{
	width:75% !important;
}


.tablo
{
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.tablo th
{
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    background: rgb(0, 39, 44);
    border-radius: 10px 10px 0px 0px;
    color: aquamarine;
}
.bir
{
    background:rgb(156, 209, 138);
    font-size: 18px;
}
.iki
{
    background: rgb(201, 245, 201);
    font-size: 18px;
}
.uc
{
    background:rgb(156, 209, 138);
    font-size: 18px;
}
.dort
{
    background: rgb(201, 245, 201);
    font-size: 18px;
}