
.form
{
	border-radius: 20px;
	background-color: rgba(51, 51, 51, 0.479);
	height:auto;
	padding:10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bilgi
{
	background-color: white;
	border-radius: 10px 10px 0 0;
	width:20%
}
.input
{
	border:none;
	border-radius:0 10px 10px 10px;
	background: #FFF;
	color:#000;
	width: 400px;
	font-size: 24px;

}
.submit
{
	text-align: center;
	background: #032833;
	color:#FFF;
	border-radius: 5px;
	font-size: 22px;
}


@media (max-width: 520px) 
{
	.input{width:350px}
}