.content{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	background:#CCC;
	border-radius:10px;
}
p{font-size: 20px;}
.header
{
	background-color: rgb(0, 87, 68) !important;
	border-radius: 15px 15px 0 0 !important;
}
.gezilecek-yer{
	text-align:center;
	color: darkblue;
	width:100;
	height:auto;
	font-size:24px;
}
#slider{
	 position:relative;
	 margin:0 auto;
	 width:70%;
	 height:auto;
	 display: flex;
	justify-content:center;
	align-items: center;
	 font: 19px sans-serif;
	 overflow: hidden;
	 text-align: center;
	 border-radius: 15px;
}
.resim img
{
	border-radius: 15px;
	max-width: 100%;
	max-height: 100%;
}

 .onceki
 {
	position: absolute;
	left:0px;
 }
 .sonraki
 {
	position: absolute;
	right: 0px;
	
 }
.onceki a,.sonraki a{
	 
	color:white;
	background: rgba(0,0,0,0.5);
	padding:10px;
	text-decoration:none;
	
	
}
.onceki a:hover,.sonraki a:hover{text-decoration: none; color:white;}
span
{
	text-align: center;
	color:darkred;
}


@media (max-width: 767.98px) 
{
	#slider{width:100%}
}