.content{
	width:100%;	
	height:500px;
	background:#CCC;
	border-radius:20px;
}
.header{
	width:100%;
	height:auto;
	text-align:center;
	font-size:36px;
	font-family:Helvetica;	
}
.content-p{
	width:100%;
	
}
.content-hobi{
	width:100%;
	background:#CCC;
	display:flex;
	flex-direction:column;
	justify-content: center;
	border-radius:10px;
}
.hobiler{
	text-align:center;
	font-size:28px;
	color:#006;
}
.muzik{
	width:100%;
	background:#6CF;
	border-radius:10px;
	text-align:center;
	font-family:Trebuchet Ms;
	font-size:20px;
}
.muzikler
{
	display: none;
}
.film{
	width:100%;
	background:#900;
	color:#FFF;
	border-radius:10px;
	text-align:center;
	font-family:Verdana;
	font-size:20px;
}
.filmler
{
	display:none;
}
.oyun{
	width:100%;
	background:#303;
	border-radius:10px;
	text-align:center;
	font-family:Verdana;
	font-size:20px;
	color:#CF0;
}
.oyunlar
{
	display: none;
}
.programlama{
	width:100%;
	background:#000;
	color:#0F0;
	text-align:center;
	font-family:Consolas;
	border-radius:10px;
	font-size:20px;
}
.siir
{
	width:100%;
	background: rgb(228, 227, 174);
	border-radius:10px;
	text-align:center;
	font-family:Trebuchet Ms;
	font-size:20px;
}
.siirler
{
	background: rgb(244, 248, 184);
	display: none;
}
.linkm
{
	text-decoration: none;
	color:#000;
}
.linko
{
	text-decoration: none;
	color:#CF0;
}
.linkf
{
	text-decoration: none;
	color:#FFF;
}
.links
{
	text-decoration: none;
	color:rgb(0, 0, 0);
}
.footer
{
	width:100%;
	height: 200px;
}


.aynalar
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(110, 189, 164);
	display: none;
}
.ovar
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.kurbanim
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.sakarya
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.fuzuli
{
	border-radius: 10px;
	background: rgb(212, 203, 154);
	color:rgb(7, 51, 36);
	display: none;
}
.tekhece
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.gormusuz
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.demebari
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.yalnizlik
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.oerlerki
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.ilim
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.sessizgemi
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.dusunuyorum
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.aynalar-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.ovar-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.kurbanim-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);}
.sakarya-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.fuzuli-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);}
.tekhece-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.gormusuz-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.demebari-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.yalnizlik-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.oerlerki-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.ilim-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.sessizgemi-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
.dusunuyorum-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}