
p
{
	font-size: 20px;
}
.col-md-4
{
	background-color: rgb(38, 98, 100);
	border-radius: 5px;
	text-align: center;
	margin:3px
}
.col-md-4 a{
	color: #FFF;
}
.col-md-4 a:hover{
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.hobiler{
	text-align:center;
	font-size:28px;
	color:#006;
}
.muzik{
	width:100%;
	background:#6CF;
	border-radius:15px;
	
	text-align:center;
	font-family:Trebuchet Ms;
	font-size:20px;
}
.muzikler
{
	display: none;
}
.film{
	width:100%;
	background:#900;
	color:#FFF;
	border-radius:15px;
	text-align:center;
	font-family:Verdana;
	font-size:20px;
}
.filmler
{
	display:none;
}
.resim
{
	max-width: 90%;
	border-radius: 10px;
}
.oyun{
	width:100%;
	background:#303;
	border-radius:15px;
	text-align:center;
	font-family:Verdana;
	font-size:20px;
	color:#CF0;
}
.oyunlar
{
	display: none;
}
.oyunlar a{
	color: #FFF;
}
.oyunlar a:hover{
	color: rgb(235, 184, 17) 22);
	text-decoration: none;
}
.programlama{
	width:100%;
	background:#000;
	color:#0F0;
	text-align:center;
	font-family:Consolas;
	border-radius:15px;
	font-size:20px;
}
.siir
{
	width:100%;
	background: rgb(228, 227, 174);
	border-radius:15px;
	text-align:center;
	font-family:Trebuchet Ms;
	font-size:20px;
}
.siir pre
{
	color:rgb(215, 243, 234);
}
pre
{
	color:rgb(215, 243, 234);
}
.dusunmek
{

	width:100%;
	background:rgb(2, 8, 70);
	color:#FFF;
	border-radius:15px;
	text-align:center;
	font-family:Trebuchet Ms;
	font-size:20px;
}
.siirler
{
	background: rgb(244, 248, 184);
	display: none;
	border-radius:0 0 15px 15px;
}
.linkm
{
	text-decoration: none;
	color:#000;
}
.linko
{
	text-decoration: none;
	color:#CF0;
}
.linkf
{
	text-decoration: none;
	color:#FFF;
}
.links
{
	text-decoration: none;
	color:rgb(0, 0, 0);
}

.siir-uzun
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
	display: none;
}
.siir-kisa
{
	border-radius: 10px;
	background: rgb(128, 119, 72);
	color:rgb(215, 243, 234);
}
